[buildout]
extends =
    https://raw.githubusercontent.com/collective/buildout.plonetest/master/plone-5.0.x.cfg

package-name = starzel.snippets
package-extras = [test]
versions = versions

parts += omelette

[versions]
plone.app.testing=4.2.2
plone.directives.form=2.0
[test]
defaults = ['-s', '${buildout:package-name}', '--auto-color', '--auto-progress']

[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}
